<h4>Search form</h4>
<hr />
<div class="row" style="margin-top:30px">
    <div class="col-md-4">
        <form asp-action="SearchResults">
            <div class="form-group">
                <label class="control-label">Search for an item name:</label>
                <input name="searchTerm" class="form-control" />
            </div>
            <div class="form-group" style="margin-top:30px">
                <input type="submit" value="Search" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div class="row" style="margin-top:30px">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Go back to the categories view" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>