@model IEnumerable<AuctionApplication.Models.ItemModel>


<h4>List of auctions</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Search for an auction" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div class="row" style="margin-top:10px">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Reset searching" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<table class="table" style="margin-top:20px">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Auction Id
            </th>
            <th>
                Go to the auction details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuctionId)
                </td>
                <td>
                    @Html.ActionLink("Go to the auction", "Offer", routeValues: new { @auctionId = item.AuctionId }, htmlAttributes: new { })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row"  style="margin-top:30px">
    <div class="col-md-4">
        <form asp-action="Main">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Go back to the main view" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
