@model IEnumerable<AuctionApplication.Models.AlgorithmModel>

<form asp-controller="Algorithm" asp-action="Index">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Criterion Id
                </th>
                <th>
                    Criterion description
                </th>
                <th>
                    Set rating
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Duration of auction
                </td>
                <td>
                    <fieldset>
                        Change rating <select id="DurationOfAuctionRating" name="DurationOfAuctionRating">
                            <option value="0.1">Very low</option>
                            <option value="0.25">Low</option>
                            <option value="0.5">Slightly low</option>
                            <option selected="selected" value="1">Medium</option>
                            <option value="2">Slightly high</option>
                            <option value="4">High</option>
                            <option value="10">Very high</option>
                        </select>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Frequency of the items
                </td>
                <td>
                    <fieldset>
                        Change rating <select id="FrequencyOfTheItemsRating" name="FrequencyOfTheItemsRating">
                            <option value="0.1">Very low</option>
                            <option value="0.25">Low</option>
                            <option value="0.5">Slightly low</option>
                            <option selected="selected" value="1">Medium</option>
                            <option value="2">Slightly high</option>
                            <option value="4">High</option>
                            <option value="10">Very high</option>
                        </select>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Average price
                </td>
                <td>
                    <fieldset>
                        Change rating <select id="AveragePriceRating" name="AveragePriceRating">
                            <option value="0.1">Very low</option>
                            <option value="0.25">Low</option>
                            <option value="0.5">Slightly low</option>
                            <option selected="selected" value="1">Medium</option>
                            <option value="2">Slightly high</option>
                            <option value="4">High</option>
                            <option value="10">Very high</option>
                        </select>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Rating of categories
                </td>
                <td>
                    <fieldset>
                        Change rating <select id="RatingOfCategoriesRating" name="RatingOfCategoriesRating">
                            <option value="0.1">Very low</option>
                            <option value="0.25">Low</option>
                            <option value="0.5">Slightly low</option>
                            <option selected="selected" value="1">Medium</option>
                            <option value="2">Slightly high</option>
                            <option value="4">High</option>
                            <option value="10">Very high</option>
                        </select>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Rating of items
                </td>
                <td>
                    <fieldset>
                        Change rating <select id="RatingOfItemsRating" name="RatingOfItemsRating">
                            <option value="0.1">Very low</option>
                            <option value="0.25">Low</option>
                            <option value="0.5">Slightly low</option>
                            <option selected="selected" value="1">Medium</option>
                            <option value="2">Slightly high</option>
                            <option value="4">High</option>
                            <option value="10">Very high</option>
                        </select>
                    </fieldset>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <input type="submit" value="Submit changes" />
    </div>
</form>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Main">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Go back to the main view" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>List of items ordered in the best way according to uesr preferences:</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Result
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var pref in (List<(int ItemId, double Result)>)ViewData["result"])
    {
        <tr>
            <td>
                @pref.ItemId
            </td>
            <td>
                @pref.Result
            </td>
        </tr>
    }
    </tbody>
</table>
